body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homediv{
  text-align: center;
  margin-top: 30px;
  font-family: sans-serif;
  font-size: 40px;
  background-color:burlywood;
  margin-left: 280px;
  margin-right: 280px;
  border-radius: 5px;
  padding: 10px;
}
.buttons{
  background-color: crimson;
  width: 10%;
  padding: 9px;
  border: none;
  color: #fff;
  border-radius: 6px;
  margin-top: 50px;
  font-size: 20px;
  font-style: italic;
}
.nav-primary{
  background-color: rgb(25, 100, 240);
  padding: 16px 40px;
}
nav a{
  margin-right: 32px;
  color:#fff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 23px;
}
nav a.active{
  text-decoration: none;
  font-weight: bold;
}
.image{
  width: 350px;
}
.about{
  text-align: center;
  font-weight: bold;
  font-size:32px;
  margin-top: 30px;
  color: crimson;
}
input{
  font-size:20px;
  margin-left: 500px;
  margin-top: 50px;
}
#linkkurti{
  font-size:20px;
  margin-left: 500px;
  color: crimson;
}
#linkwatch{
  font-size:20px;
  margin-left: 150px;
  color: crimson;
}
.profile{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  margin-top : 50px;
  padding: 30px;
  margin-left: 130px;
  margin-right: 130px;
  background-color: burlywood;
}
.productdiv{
  background-color: burlywood;
  margin-left: 130px;
  margin-top: 70px;
  padding: 60px;
  margin-right: 130px;
}
.login{
  background-color:burlywood;
  padding: 50px;
  margin-left: 70px;
  margin-right: 90px;
  margin-top: 40px;
}
.button1{
  background-color: crimson;
  width: 10%;
  padding: 9px;
  border: none;
  color: #fff;
  border-radius: 6px;
  font-size: 20px;
  font-style: italic;
  margin-left: 550px;
  margin-top : 20px;
}
.inputbox{
   border-radius: 5px;
   font-size: 22px;
   background-color: crimson;
}
.button2{
  background-color: crimson;
  width: 10%;
  padding: 9px;
  border: none;
  color: #fff;
  border-radius: 6px;
  font-size: 20px;
  margin-top: 70px;
  margin-left: 40px;
}

